
*.cache
*.sqlite
*.cache
*.txt
VideoClub/.vs/VideoClub/v16/.suo
*.user
VideoClub/NLayer.Datos/obj/Debug/NLayer.Datos.csproj.AssemblyReference.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
VideoClub/NLayer.Consola/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VideoClub/NLayer.Datos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
*.sqlite
*.cache
*.sqlite
*.sqlite
*.sqlite
*.sqlite
*.cache
VideoClub/.vs/VideoClub/v16/.suo
